@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }
  * html {
    height: auto; }

body {
  background: #e9ecf3;
  font: 14px "microsoft yahei";
  color: #585858;
  min-width: 1280px; }

em, i {
  font-style: normal; }

ul {
  list-style: none; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #585858;
  text-decoration: none; }
  a:hover {
    color: #009fa8; }
  a:focus {
    text-decoration: none;
    color: #009fa8; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  margin: 0;
  padding: 0; }

.header.fixed-top .page-logo a, .page-sidebar .page-sidebar-menu li a {
  text-decoration: none; }
  .header.fixed-top .page-logo a:hover, .page-sidebar .page-sidebar-menu li a:hover {
    text-decoration: none; }

.img-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

label,
input {
  display: inline-block;
  font-weight: normal; }

.right-top:before, .right-top:after {
  content: " ";
  display: table; }
.right-top:after {
  clear: both; }

table th, table td {
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0; }
  * html {
    height: auto; }

body {
  background: #e9ecf3;
  font: 14px "microsoft yahei";
  color: #585858;
  min-width: 1280px; }

em, i {
  font-style: normal; }

ul {
  list-style: none; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #585858;
  text-decoration: none; }
  a:hover {
    color: #009fa8; }
  a:focus {
    text-decoration: none;
    color: #009fa8; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  margin: 0;
  padding: 0; }

.header.fixed-top .page-logo a, .page-sidebar .page-sidebar-menu li a {
  text-decoration: none; }
  .header.fixed-top .page-logo a:hover, .page-sidebar .page-sidebar-menu li a:hover {
    text-decoration: none; }

.img-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

label,
input {
  display: inline-block;
  font-weight: normal; }

.right-top:before, .right-top:after {
  content: " ";
  display: table; }
.right-top:after {
  clear: both; }

table th, table td {
  vertical-align: middle; }

.header {
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #009fa8;
  color: #fff; }
  .header a {
    color: #fff; }
  .header.fixed-top {
    position: fixed;
    top: 0;
    z-index: 9999; }
    .header.fixed-top .page-logo {
      width: 238px;
      float: left;
      height: 60px; }
      .header.fixed-top .page-logo a {
        display: block;
        margin-left: 20px;
        text-align: left;
        padding-top: 12px; }
        .header.fixed-top .page-logo a span {
          display: block;
          font-family: "宋体";
          font-size: 20px; }
        .header.fixed-top .page-logo a em {
          display: block;
          font-size: 12px;
          font-family: Arial;
          color: #c7edef;
          margin-top: -3px; }
    .header.fixed-top .top-menu {
      float: right; }
      .header.fixed-top .top-menu .navbar-nav {
        margin-right: 20px;
        display: block; }
        .header.fixed-top .top-menu .navbar-nav li {
          display: block;
          float: left;
          position: relative; }
          .header.fixed-top .top-menu .navbar-nav li a {
            display: inline-block;
            line-height: 60px;
            padding: 0 12px;
            margin-left: 20px;
            text-decoration: none; }
            .header.fixed-top .top-menu .navbar-nav li a:hover {
              background: #00adb7; }
            .header.fixed-top .top-menu .navbar-nav li a.top-user img {
              display: inline-block;
              float: left;
              height: 30px;
              margin-right: 7px;
              margin-top: 14px;
              border: 1px solid #fff; }
            .header.fixed-top .top-menu .navbar-nav li a .badge {
              margin-left: 5px; }

.badge {
  display: inline-block;
  min-width: 10px;
  line-height: 1;
  white-space: nowrap;
  font-size: 12px;
  height: 18px;
  color: #fff;
  padding: 3px 6px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  text-align: center; }
  .badge.badge-red {
    background-color: #fc4141; }

.foot-line {
  border-bottom: 1px solid #dee0e8; }

.margin-bottom {
  margin-bottom: 20px; }

.page-container {
  margin: 20px;
  margin-top: 80px;
  overflow: hidden; }
  .page-container .page-sidebar-wrapper, .page-container .page-content-wrapper {
    padding-bottom: 2000px;
    margin-bottom: -2000px; }
  .page-container .page-sidebar-wrapper {
    position: relative;
    width: 218px;
    float: left;
    margin-right: -218px;
    background-color: #fff;
    border-right: 20px solid #e9ecf3; }
    .page-sidebar .page-sidebar-menu {
      width: 198px;
      padding: 20px 0; }
      .page-sidebar .page-sidebar-menu li {
        display: block; }
        .page-sidebar .page-sidebar-menu li a {
          display: block;
          min-height: 96px;
          position: relative;
          font-size: 14px;
          color: #585858;
          padding: 16px 10px;
          text-align: center; }
          .page-sidebar .page-sidebar-menu li a i {
            font-size: 20px; }
          .page-sidebar .page-sidebar-menu li a .title {
            display: block;
            text-align: center;
            margin-top: 5px; }
          .page-sidebar .page-sidebar-menu li a .en-title {
            display: block;
            text-align: center;
            margin-top: 5px;
            text-transform: uppercase;
            font-size: 12px; }
        .page-sidebar .page-sidebar-menu li.active {
          background-color: #ebeef3;
          border-left: 3px solid #009fa8; }
          .page-sidebar .page-sidebar-menu li.active a {
            color: #009fa8; }
        .page-sidebar .page-sidebar-menu li:hover {
          background-color: #ebeef3; }
  .page-container .page-content-wrapper {
    float: right;
    width: 100%;
    background-color: #fff;
    border-left: 20px solid #e9ecf3; }
    .page-container .page-content-wrapper .page-content {
      margin-left: 218px; }
      .page-bar {
        background-color: #e9ecf3;
        margin-left: -20px; }
        .page-bar .page-bar-nav {
          display: inline-block;
          padding: 10px 6px;
          margin-bottom: 0; }
          .page-bar .page-bar-nav li {
            float: left; }
            .page-bar .page-bar-nav li a {
              display: inline-block;
              color: #6d6d6d; }
              .page-bar .page-bar-nav li a:hover {
                text-decoration: underline; }
            .page-bar .page-bar-nav li i {
              font-size: 20px;
              width: 1.25em;
              text-align: center;
              float: right; }

.page-right {
  padding: 20px; }
  .page-right .top-h3 {
    display: block;
    font-size: 16px;
    margin: 0;
    color: #009fa8;
    padding-bottom: 25px; }
    .page-right .top-h3 i {
      font-size: 18px;
      margin-right: 3px; }

.group-inline {
  display: inline-block; }

.form-group {
  margin: 0;
  padding: 0; }
  .form-group label {
    line-height: 34px;
    margin-right: 10px; }
  .form-group .form-control {
    display: inline-block;
    width: auto;
    min-width: 100px; }
  .form-group .btn {
    display: inline-block;
    margin-left: 14px; }

.form-box {
  padding: 0 15px; }
  .form-box .form-label {
    line-height: 34px;
    text-align: right;
    vertical-align: top;
    font-size: 12px;
    font-family: "宋体"; }
  .form-box .form-block {
    display: block; }
  .form-box .row {
    margin-bottom: 30px; }
  .form-box .pic-box {
    width: 93px;
    height: 73px;
    border: 2px solid #f6f6f6;
    padding: 3px;
    background: #fff;
    display: inline-block; }
    .form-box .pic-box .pic-box-inner {
      background: #f6f6f6;
      width: 84px;
      height: 64px;
      line-height: 64px;
      text-align: center; }
      .form-box .pic-box .pic-box-inner img {
        width: 100%;
        height: 100%; }
  .form-box .form-tips {
    display: inline-block;
    color: #a0a0a0;
    line-height: 34px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "宋体"; }

.input-small, .input-group .form-control {
  width: 90px; }

.input-medium, .input-group .form-control {
  width: 150px; }

.input-large, .input-group .form-control {
  width: 200px; }

.input-group .input-group-btn {
  width: auto;
  font-size: 14px; }

.btn {
  outline: 0; }
  .btn:hover {
    outline: 0; }
  .btn:active, .btn.active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    position: relative;
    top: 1px; }
    .btn:active:focus, .btn.active:focus {
      outline: 0; }
  .btn:focus {
    outline: 0;
    color: #fff; }

.btn-medium {
  padding: 6px 30px; }

.edu-theme-btn {
  background: #009fa8;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .edu-theme-btn:hover, .edu-theme-btn:active, .edu-theme-btn.active, .edu-theme-btn:focus {
    background: #00878f;
    color: #fff; }

.edu-red-btn {
  background: #e7342b;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  .edu-red-btn:hover, .edu-red-btn:active, .edu-red-btn.active, .edu-red-btn:focus {
    background: #df2319;
    color: #fff; }

.edu-btn-outline i {
  margin-right: 5px; }

.edu-theme-btn2 {
  color: #009fa8; }
  .edu-theme-btn2:hover, .edu-theme-btn2:active, .edu-theme-btn2.active, .edu-theme-btn2:focus {
    color: #00878f; }

.edu-red-btn2 {
  color: #e7342b; }
  .edu-red-btn2:hover, .edu-red-btn2:active, .edu-red-btn2.active, .edu-red-btn2:focus {
    color: #df2319; }

.btn-normal {
  background-color: #b7bbca;
  color: #fff;
  border-radius: 0; }
  .btn-normal:hover, .btn-normal:active, .btn-normal:focus {
    background-color: #9a9fb4;
    color: #fff; }

.btn-theme {
  background-color: #009fa8;
  color: #fff;
  border-radius: 0; }
  .btn-theme:hover, .btn-theme:active, .btn-theme:focus {
    background-color: #00878f;
    color: #fff; }

.btn-upload {
  position: relative;
  overflow: hidden; }
  .btn-upload input[type=file] {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0); }

.details {
  width: 80%;
  margin: 20px auto;
  color: #6d6d6d; }
  .details h3 {
    display: block;
    text-align: center;
    color: #6d6d6d;
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px; }
  .details p {
    font-size: 12px;
    font-family: "宋体";
    line-height: 2em;
    text-indent: 2em; }
  .bottom-download span {
    display: inline-block;
    margin-right: 20px; }
  .bottom-download a {
    font-size: 12px;
    color: #a0a0a0; }
    .bottom-download a i {
      margin-right: 5px; }

.title-tabs {
  display: block;
  overflow: hidden;
  border: none;
  margin-bottom: 20px; }
  .title-tabs li {
    border-bottom: 1px solid #009fa8;
    width: 140px;
    margin: 0;
    padding-bottom: 10px; }
    .title-tabs li a {
      margin-left: 16px;
      color: #b7bbca;
      line-height: 24px;
      border: none; }
      .title-tabs li a i {
        margin-right: 10px; }
    .title-tabs li.active {
      border-bottom-width: 3px;
      padding-bottom: 8px; }
      .title-tabs li.active a {
        color: #009fa8;
        border: none; }
        .title-tabs li.active a:hover, .title-tabs li.active a:focus {
          padding: 0;
          border: 0;
          border: 0;
          color: #009fa8; }
    .title-tabs li:hover a {
      text-decoration: none;
      color: #009fa8; }

.main-h2 {
  display: block;
  margin-bottom: 20px;
  width: 950px; }
  .main-h2 span.h2-title1 {
    display: inline-block;
    font-size: 16px;
    color: #009fa8;
    line-height: 34px;
    margin-right: 10px; }
  .main-h2 span.h2-title2 {
    display: inline-block;
    font-size: 12px;
    color: #b7bbca;
    line-height: 34px; }
  .main-h2 .input-group .btn {
    margin-left: 5px; }

.modal-title {
  font-size: 16ox;
  color: #009fa8; }

.modal-text h3 {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px; }
  .modal-text h3 i {
    color: #efc42d; }
  .modal-text h3 p {
    text-indent: 2em;
    font-size: 12px; }

.news-part {
  width: 950px;
  padding-left: 35px; }
  .news-part h3 {
    margin-left: -35px;
    color: #009fa8;
    font-size: 16px; }
    .newslist {
      padding-bottom: 20px; }
      .newslist li {
        display: block;
        overflow: hidden;
        line-height: 34px;
        font-size: 12px; }
        .newslist li a {
          display: inline-block;
          color: #4f566d;
          float: left;
          cursor: pointer; }
          .newslist li a:hover {
            color: #009fa8; }
        .newslist li .time {
          display: inline-block;
          float: right; }
        .news-tag {
          display: inline-block;
          margin-left: 20px;
          font-size: 12px;
          border: 1px solid;
          line-height: 1;
          margin-top: 5px;
          padding: 5px; }
          .news-tag i {
            margin-right: 2px; }
          .news-tag.red {
            border-color: #f8e0dc;
            color: #e79588; }
          .news-tag.purple {
            border-color: #d4def4;
            color: #7795dd; }
          .news-tag.green {
            border-color: #c9ebed;
            color: #66c5cb; }

.news_table {
  width: 100%;
  font-size: 12px; }
  .news_table td {
    height: 34px;
    vertical-align: middle;
    font-size: 12px; }

.table1 td {
  width: 209.5px;
  text-align: center;
  height: 46px;
  vertical-align: middle; }

.table-box {
  padding-bottom: 20px; }
  .table-box .bottom {
    margin-top: 20px; }
    .table-box .bottom .dataTables_paginate {
      clear: both;
      text-align: center;
      float: none; }

.table2 {
  width: 100%;
  border: 1px solid #e1e6ec; }
  .table2 thead tr th {
    height: 49px;
    border: 1px solid #e1e6ec;
    text-align: center; }
  .table2 tbody tr td {
    border: 1px solid #e1e6ec;
    height: 39px;
    text-align: center; }
  .table2 tbody tr.odd {
    background: #f6f8ff; }

.right-top {
  border: 1px solid #e1e6ec;
  padding: 15px 20px;
  margin-bottom: 20px; }
  .right-top .action {
    float: right; }
    .right-top .action .group-inline {
      float: left; }

/*# sourceMappingURL=edu-moral.css.map */
