@charset "utf-8";
$base-font-size:14px;
$base-color:#585858;
$theme-bg:#009fa8;

//wrapper
$min-width:1280px;
$normal-margin:20px;
$body-bg:#e9ecf3;
//header
$header-height:60px;
$header-color:#fff;
$top-user-img-size:30px;
$logo-h1-size:30px;
$logo-span-size:12px;
//left
$left-width:198px;
$left-bg:#fff;
$left-color:#585858;
$left-en-color:#585858;
$left-li-height:96px;
$left-li-cur-bg:#ebeef3;
$left-li-cur-color:#009fa8;

//right
$normal-color:#6d6d6d;
$cur-color:#009fa8;
$normal-border-color:#e1e6ec;
$table-bg-hui:#f6f8ff;

//edu-admin
$user-manage-width:950px;
$user-tab-width:112px;
$user-tab-height:46px;

//main
$main-tab-width:140px;
$main-tab-color:#b7bbca;



//news
$newslist-left-margin:35px;
$bottom-border-color:#dee0e8;

//form
$form-line-height:34px;
$btn-color:#fff;
$red-bg:#e7342b;

//btn
$btn-normal-bg:#b7bbca;

//panel
$panel-width:490px;
$panel-bg:#b7bbca;
