@charset "utf-8";


//圆角
@mixin border-radius($value:10px){
  border-radius:$value;
  -webkit-border-radius:$value;
  -moz-border-radius:$value;
}
//字体大小
@mixin font-size($value:12px){
  font-size: $value;
}
//投影
@mixin box-shadow($shadow...){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow:$shadow;
}
//透明
@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}