@charset "utf-8";
@import "base","mixin";

.table1{
  td{
    width:($user-manage-width - $user-tab-width)/4; text-align: center; height: $user-tab-height; vertical-align: middle;
  }
}

.table-box{
  padding-bottom: $normal-margin;
  .bottom{
    margin-top: $normal-margin;
    .dataTables_paginate{
      clear: both;text-align: center; float: none;
    }
  }
}

.table2{
  width:100%;border:1px solid $normal-border-color;
  thead{
    tr{
      th{
        height:49px;border:1px solid $normal-border-color; text-align: center;
      }
    }
  }
  tbody{
    tr{
      td{
        border:1px solid $normal-border-color; height:39px;text-align: center;
      }
      &.odd{
        background: $table-bg-hui;
      }
    }
  }
}



