@charset "utf-8";
//引入基础模块
@import "base","mixin";
//引入功能模块
@import"reset","main","news","table";

//
.right-top{
  border:1px solid $normal-border-color;@extend %clearfix;padding:($normal-margin - 5px) $normal-margin;margin-bottom: $normal-margin;
  .action{
    float: right;
    .group-inline{
      float: left;
    }
  }
}
















