@charset "utf-8";
//引入基础模块
@import "base","mixin";
//引入功能模块
@import"reset","main","news","table";
//
.manage-user{
  width: $user-manage-width;
  .top-user-title{
    background-color: #ebeef3;@include font-size(14px);color: #383e52;height: 40px; line-height: 40px; overflow: hidden; position: relative;
    span{
      display: inline-block; text-align: center; float: left;
      &.user-title1{
        width:$user-tab-width;
      }
    }

  }
  .user-tab-box{
    border:1px solid #eeeaea;
    .user-tabs{
      width:$user-tab-width; float: left;
      li{
        display: block;width:100%; text-align: center;
        a{
          display:block; width:100%;padding:0; height: $user-tab-height; line-height: $user-tab-height;background-color:  #fafafa; border:1px solid #f1efef; border-radius: 0; border-left:none;
        }
        &:hover a,&.active a{
          background-color: #fff;border-right-color:transparent; text-decoration: none;
        }

      }
    }
    .user-tab-content{
      float: left;
      @at-root.table1{
        width:$user-manage-width - $user-tab-width - 10px;
        text-align: center;

        th{
          width:25%; @include font-size(14px);color: #383e52;height: 40px; line-height: 40px; font-weight: normal;text-align: center;
        }

        td{
          width:25%;text-align: center; height: $user-tab-height; vertical-align: middle;
        }
      }

    }
  }
}











