@charset "utf-8";
//引入基础模块
@import "base","mixin";
//引入功能模块
@import"reset";
//
//头部
.header{
  width:100%;@extend %clear-bj; height: $header-height;min-height: $header-height; background-color: $theme-bg; color: $header-color;
  a{
    color: $header-color;
  }
  &.fixed-top{
    position: fixed;top:0;z-index:9999;
    .page-logo{
      width:$left-width+2*$normal-margin; float: left; height: $header-height;
      a{
        display:block;@extend %no-link;margin-left: $normal-margin;text-align: left;padding-top:12px;
        span{
          display: block; font-family: "宋体"; font-size:20px;
        }
        em{
          display: block;font-size: 12px; font-family: Arial; color: #c7edef;margin-top:-3px;
        }
      }
    }

    .top-menu{
      float: right;
      .navbar-nav{
        margin-right: $normal-margin;display: block;
        li{
          display: block;float:left;position: relative;
          a{
            display:inline-block;line-height: $header-height;padding:0 12px;margin-left:$normal-margin; text-decoration: none;
            &:hover{
              background: lighten($theme-bg,3%);
            }
            &.top-user{
              img{
               display: inline-block; float: left;height:$top-user-img-size;margin-right: 7px;margin-top:14px;border:1px solid #fff;
              }
            }
            .badge{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
//
.badge{
  display: inline-block;min-width:10px; line-height: 1;white-space: nowrap;@include font-size(12px);height:18px;color: #fff;padding:3px 6px;@include border-radius(12px);text-align: center;
  &.badge-red{
    background-color: #fc4141;
  }
}
//
.foot-line{
  border-bottom:1px solid $bottom-border-color;
}
.margin-bottom{
  margin-bottom: $normal-margin;
}

//主内容
.page-container{
  margin:$normal-margin; margin-top:$normal-margin+$header-height; overflow: hidden;
  //两列等高
  %min-height{
    min-height:200px;height:auto !important;height:200px;
  }
  //左侧
  .page-sidebar-wrapper{
    position: relative;width:$left-width + $normal-margin;float: left;margin-right: -($left-width+ $normal-margin);padding-bottom:2000px;margin-bottom:-2000px;background-color: $left-bg;border-right:20px solid $body-bg;
    @at-root.page-sidebar{
      .page-sidebar-menu{
        width:$left-width;padding:$normal-margin 0;
        li{
          display: block;
          a{
            display: block;min-height: $left-li-height; position: relative;@extend %no-link; @include font-size(14px);color: $left-color;padding:16px 10px; text-align: center;
            i{
              @include font-size(20px);
            }
            .title{
              display: block;text-align: center;margin-top:5px;
            }
            .en-title{
              display: block;text-align: center;margin-top:5px;text-transform: uppercase;@include font-size(12px);
            }
          }
          &.active{
             background-color: $left-li-cur-bg;
             border:{
               left:3px solid $left-li-cur-color;
             }
            a{
              color: $left-li-cur-color;
            }
          }
          &:hover{
            background-color: $left-li-cur-bg;
          }
        }
      }
    }
  }
  //右侧
  .page-content-wrapper{
    float: right;width:100%;padding-bottom:2000px;margin-bottom:-2000px; background-color: $left-bg;border-left:20px solid $body-bg;
    .page-content{
      margin-left:$left-width + $normal-margin;
      @at-root.page-bar{
        background-color: $body-bg;margin-left:-$normal-margin;
        .page-bar-nav{
          display: inline-block;padding: 10px 6px;margin-bottom: 0;
          li{
            float: left;
            a{
              display:inline-block; color: $normal-color;
              &:hover{
                text-decoration: underline;
              }
            }
            i{
              @include  font-size(20px);width:1.25em; text-align: center; float: right;
            }
          }
        }
      }

    }
  }
}

//右侧主要内容
.page-right{
  padding:$normal-margin;
  .top-h3{
    display: block;@include font-size(16px);margin:0; color: $cur-color;padding-bottom: 25px;
    i{
      @include font-size(18px);margin-right: 3px;
    }
  }
}

//form
.group-inline{
  display: inline-block;
}
.form-group{
  margin:0;padding:0; 
  label{
    line-height:$form-line-height;margin-right:10px;
  }
  .form-control{
    display: inline-block;width:auto;min-width:100px;
  }
  .btn{
    display: inline-block;margin-left:14px;
  }
}

.form-box{
  padding:0 15px;
  .form-label{
    line-height: 34px;text-align: right;vertical-align: top; @include font-size(12px); font-family: "宋体";
  }
  .form-block{
    display: block;
  }
  .row{
    margin-bottom: 30px;
  }

  .pic-box{
    width:93px; height:73px; border:2px solid #f6f6f6;padding:3px;background: #fff;display: inline-block;
    .pic-box-inner{
      background: #f6f6f6;width:84px; height:64px; line-height: 64px;text-align: center;
      img{
        width:100%;height: 100%;
      }
    }
  }

  .form-tips{
   display:inline-block; color:lighten($normal-color,20%); line-height: 34px;margin-left:$normal-margin;@include font-size(12px); font-family: "宋体";
  }

}
.input-small{
  width:90px;
}
.input-medium{
  width:150px;
}
.input-large{
  width:200px;
}
.input-group{
  .form-control{
    @extend .input-small;@extend .input-medium;@extend .input-large;
  }
  .input-group-btn{
    width:auto;@include font-size(14px);
  }
}

//btns
.btn{
  outline:0;
  &:hover{
    outline:0;
  }
  &:active,&.active{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    position: relative;top:1px;
    &:focus{
      outline:0;
    }
  }
  &:focus{
    outline:0;color:$btn-color;
  }
}
.btn-medium{
  padding:6px 30px;
}
.edu-theme-btn{
   background: $theme-bg; color: $btn-color; @include border-radius(5px);
  &:hover,&:active,&.active,&:focus{
    background: darken($theme-bg,5%);color: $btn-color;
  }

}
.edu-red-btn{
  background: $red-bg; color: $btn-color; @include border-radius(5px);
  &:hover,&:active,&.active,&:focus{
    background: darken($red-bg,5%);color: $btn-color;
  }

}

.edu-btn-outline{
  i{
    margin-right:5px;
  }
}
.edu-theme-btn2{
  color: $theme-bg;
  &:hover,&:active,&.active,&:focus{
    color: darken($theme-bg,5%);
  }
}
.edu-red-btn2{
  color:$red-bg ;
  &:hover,&:active,&.active,&:focus{
    color: darken($red-bg,5%);
  }
}

.btn-normal{
  background-color: $btn-normal-bg;color:#fff; border-radius:0;
  &:hover,&:active,&:focus{
    background-color: darken($btn-normal-bg,10%);color:#fff;
  }
}
.btn-theme{
  background-color: $cur-color; color: #fff;border-radius:0;
  &:hover,&:active,&:focus{
    background-color: darken($cur-color,5%);color:#fff;
  }
}

.btn-upload{
  position: relative;overflow: hidden;
  input[type=file]{
    position: absolute;right:0;top:0;font-size: 100px;@include opacity(0);
  }
}

//details
.details{
  width:80%;margin:20px auto;
  color: $normal-color;
  h3{
    display: block;text-align: center;color: $normal-color;margin-bottom: $normal-margin;padding:0;@include font-size(16px);
  }
  p{
    @include font-size(12px);font-family: "宋体"; line-height: 2em; text-indent: 2em;
  }
  @at-root.bottom-download{
    span{
      display: inline-block;margin-right:$normal-margin;
    }
    a{
      @include font-size(12px);color:lighten($normal-color,20%);
      i{
        margin-right:5px;
      }
    }
  }

}
//main-tabs

.main-tabs{
  @at-root.title-tabs{
    display:block;overflow: hidden;border:none;margin-bottom: 20px;
    li{
      border-bottom:1px solid $cur-color;width:$main-tab-width;margin: 0;padding-bottom:10px;
      a{
        margin-left:16px;color: $main-tab-color; line-height: 24px; border:none;
        i{
          margin-right:10px;
        }
      }
      &.active{
        border-bottom-width: 3px;padding-bottom:8px;
        a{
          color: $cur-color;border:none;
          &:hover,&:focus{
            padding:0;border:0;border:0;color: $cur-color;
          }

        }
      }
      &:hover{
        a{
          text-decoration: none;color: $cur-color;
        }
      }
    }
  }
}



.main-h2{
  display: block;margin-bottom:$normal-margin;width:$user-manage-width;
  span{
    &.h2-title1{
      display: inline-block;@include font-size(16px);color: $cur-color; line-height: 34px;margin-right:10px;
    }
    &.h2-title2{
      display: inline-block;@include font-size(12px);color: $main-tab-color; line-height: 34px;
    }
  }
  .input-group{
    .btn{
      margin-left:5px;
    }
  }
}
//
.modal-title{
  @include font-size(16ox);color: $cur-color;
}
.modal-text{
  h3{
    display: block;@include font-size(14px); text-align: center;margin-bottom: $normal-margin;
    i{
      color: #efc42d;
    }
    p{
      text-indent:2em;@include font-size(12px);
    }
  }
}

//panel








